<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Analys">
	<resultMap type="com.kh.hotels.mngAnalys.model.vo.SalesDetail" id="SalesDetailResultSet">
		<id property="rsvNo" column="rsv_No" />
		<result property="rmNo" column="rm_No" />
		<result property="rmNum" column="rm_Num" />
		<result property="mno" column="mno" />
		<result property="name" column="name" />
		<result property="checkIn" column="checkIn" />
		<result property="checkOut" column="checkOut" />
		<result property="stayPrice" column="stay_Price" />
		<result property="rsvDate" column="rsv_Date" />
	</resultMap>

	<select id="selectSalesDetailList" resultType="java.util.ArrayList" resultMap="SalesDetailResultSet">
		SELECT RM.RM_NUM, RSV_NO, R.MNO, M.NAME, CHECKIN, CHECKOUT, STAY_PRICE, TO_DATE(RSV_DATE, 'YYYY-MM-DD HH24:MI:SS') AS RSV_DATE
		FROM RSV R
		LEFT JOIN MEMBER M ON (R.MNO = M.MNO)
		LEFT JOIN ROOM RM ON (RM.RM_NO = R.RM_NO)
		<choose>
			<when test="searchCondition == 'sales' and searchCondition != null">
			<![CDATA[
				WHERE TO_DATE(RSV_DATE, 'YYYY-MM-DD HH24:MI:SS') >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
				AND TO_DATE(RSV_DATE, 'YYYY-MM-DD HH24:MI:SS') <= TO_DATE(#{endDate}, 'YYYY-MM-DD')
			]]>
			</when>
			<when test="searchCondition == 'checkIn' and searchCondition != null">
			<![CDATA[
				WHERE CHECKIN >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
				AND CHECKIN <= TO_DATE(#{endDate}, 'YYYY-MM-DD')
			]]>
			</when>
			<when test="searchCondition == 'checkOut' and searchCondition != null">
			<![CDATA[
				WHERE CHECKOUT >= TO_DATE(#{startDate}, 'YYYY-MM-DD')
				AND CHECKOUT <= TO_DATE(#{endDate}, 'YYYY-MM-DD')
			]]>
			</when>
		</choose>
	</select>












</mapper>

 