<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hotel">

	<resultMap type="com.kh.hotels.mngRooms.model.vo.RoomInfo"
		id="RoomInfoResultSet">
		<id property="rt_No" column="RT_NO" />
		<result property="rm_No" column="RM_NO" />
		<result property="std_Per" column="STD_PER" />
		<result property="rm_Option" column="RM_OPTION" />
		<result property="rm_Status" column="RM_STATUS" />
		<result property="rt_Name" column="RT_NAME" />
		<result property="minPer" column="MINPER" />
		<result property="maxPer" column="MAXPER" />
		<result property="limitPrc" column="LIMITPRC" />
	</resultMap>

	<resultMap
		type="com.kh.hotels.mngReserv.model.vo.ReservationCheck"
		id="ReservationCheck">
		<id property="rsvNo" column="RSV_NO" />
		<result property="mno" column="mno" />
		<result property="rmNo" column="RM_NO" />
		<result property="userName" column="NAME" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="stayPrice" column="stay_Price" />
		<result property="checkIn" column="checkIn" />
		<result property="checkOut" column="checkOut" />
		<result property="rsvDate" column="rsv_Date" />
		<result property="checkInTime" column="ci_time" />
		<result property="rtName" column="rt_Name" />
		<result property="adult" column="adult" />
		<result property="child" column="child" />
		<result property="rmNo" column="rmNo" />
		<result property="rsvReq" column="rsv_Req" />
		<result property="rsvOption" column="rsv_Option" />
	</resultMap>

	<resultMap id="Member"
		type="com.kh.hotels.mngMember.model.vo.Member">
		<id column="mno" property="mno" />
		<result column="Name" property="userName" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="mmemo" property="mmemo" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngClient.model.vo.Que" id="QueResultSet">
		<id property="qno" column="qno" />
		<result property="mno" column="mno" />
		<result property="qtype" column="qtype" />
		<result property="qtitle" column="qtitle" />
		<result property="qdate" column="qdate" />
		<result property="qcontent" column="qcontent" />
		<result property="ansStatus" column="ans_Status" />
		<result property="delStatus" column="del_Status" />
		<result property="qpwd" column="qpwd" />
		<result property="pwdStatus" column="pwd_Status" />
		<result property="userName" column="Name" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngClient.model.vo.Ans" id="AnsResultSet">
		<id property="ano" column="ano" />
		<result property="qno" column="qno" />
		<result property="mno" column="mno" />
		<result property="acontent" column="acontent" />
		<result property="adate" column="adate" />
	</resultMap>

	<!-- 문의 내용 갯수 조회 쿼리 -->
	<select id="selectListCount" resultType="_int" parameterType="java.util.HashMap">
		SELECT COUNT(*)
		FROM QUE
		WHERE DEL_STATUS = 'N'
		<choose>
			<when test="searchCondition == 'qtitle'">
				AND QTITLE LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchCondition == 'qtype'">
				AND QTYPE = #{searchValue}
			</when>
		</choose>
	</select>
	
	<!-- 객실 유형 갯수 조회 쿼리 -->
	<select id="selectRoomList" resultType="Map" resultMap="RoomInfoResultSet">
		SELECT STD_PER, RM_OPTION, R.RT_NO, RM_STATUS, RT_NAME, MINPER, MAXPER,	LIMITPRC
		FROM ROOM R
		LEFT JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		GROUP BY R.RT_NO, STD_PER, RM_OPTION, RM_STATUS, RT_NAME, 
		MINPER, MAXPER, LIMITPRC
	</select>

	<!-- 객실 정보 조회용 쿼리 -->
	<select id="selectRoom" resultType="RoomInfo" resultMap="RoomInfoResultSet">
		SELECT STD_PER, RM_OPTION, R.RT_NO, RM_STATUS,RT_NAME, MINPER, MAXPER, LIMITPRC
		FROM ROOM R
		LEFT JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		WHERE R.RT_NO = #{roomType}
		GROUP BY R.RT_NO, STD_PER, RM_OPTION, RM_STATUS,
		RT_NAME,MINPER, MAXPER, LIMITPRC
	</select>
	
	<!-- 객실 유형별 객실 번호 조회용 쿼리 -->
	<select id="selectRoomNoList" resultType="RoomInfo" resultMap="RoomInfoResultSet">
		SELECT RM_NO
		FROM ROOM
		WHERE RT_NO = #{roomType}
		MINUS
		SELECT RSV.RM_NO
		FROM RSV
		LEFT JOIN ROOM ON (RSV.RM_NO = ROOM.RM_NO)
		WHERE RT_NO = #{roomType}
		AND CHECKOUT > SYSDATE
	</select>
	
	<!-- 예약 정보 조회용 쿼리 -->
	<select id="reservationCheck" resultType="ReservationCheck"
		resultMap="ReservationCheck" parameterType="ReservationCheck">
		SELECT RSV_NO, M.NAME, M.PHONE, M.EMAIL, RS.STAY_PRICE, RS.CHECKIN, RS.CHECKOUT, RS.CI_TIME, RT_NAME, RS.ADULT, RS.CHILD, RS.RSV_REQ, RS.RSV_OPTION
		FROM ROOM R
		JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		JOIN RSV RS ON (R.RM_NO = RS.RM_NO)
		JOIN MEMBER M ON (RS.MNO = M.MNO)
		WHERE RS.RSV_STATUS = 'OK'
		AND RSV_NO = #{rsvNo}
		AND M.NAME = #{userName}
		AND M.PHONE = #{phone}
		GROUP BY RT_NAME, RSV_NO, RS.MNO, M.NAME, RS.STAY_PRICE,M.PHONE, M.EMAIL,
		RS.CHECKIN, RS.CHECKOUT, RS.CI_TIME,RS.ADULT, RS.CHILD, RS.RSV_REQ, RS.RSV_OPTION
	</select>

	<!-- 예약번호 생성용 예약내역 조회 쿼리 -->
	<select id="reservationCnt" resultType="_int">
		SELECT COUNT(*)
		FROM RSV
		WHERE RSV_NO LIKE '%'||#{rsvNo}||'%'
	</select>

	<!-- 예약 입력 쿼리 -->
	<insert id="insertReservation" parameterType="ReservationCheck">
		INSERT
		INTO RSV (RSV_NO, RM_NO, MNO, CHECKIN, CHECKOUT, STAY_PRICE, RSV_DATE, RSV_STATUS, RSV_WAY, ADULT, CHILD, CI_TIME, RSV_REQ, RSV_OPTION)
		VALUES(#{rsvNo}, #{rmNo}, #{mno}, #{checkIn}, #{checkOut},
		#{stayPrice}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'OK', 'ONLINE', #{adult}, #{child}, #{checkInTime}, #{rsvReq}, #{rsvOption})
	</insert>
	
	<!-- 서비스 입력 쿼리 -->
	<insert id="insertBreakfast" parameterType="ReservationCheck">
		INSERT INTO
		SVC_USE (SVC_CODE, USE_CNT, USE_STATUS, REG_DATE, SVC_NO, RSV_NO)
		VALUES('BREAKFAST', ${adult} + ${child}, 'Y', TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), SEQ_SVC_NO.NEXTVAL, #{rsvNo})
	</insert>
	
	<!-- 예약정보 확인 / 예약 멤버 조회 쿼리 -->
	<select id="selectMember" resultType="Member" resultMap="Member" parameterType="ReservationCheck">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND NAME = #{userName}
		AND PHONE = #{phone}
		AND EMAIL = #{email}
	</select>
	
	<insert id="insertMember" parameterType="ReservationCheck">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{userName}, #{phone},
		#{email}, 'Y','CLIENT',
		NULL)
	</insert>
	
	<insert id="insertQnAMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{userName}, NULL,
		#{email}, 'Y','CLIENT',
		NULL)
	</insert>

	<select id="selectQnAMember" resultType="Member" resultMap="Member" parameterType="Member">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND NAME = #{userName}
		AND EMAIL = #{email}
	</select>
	
	<select id="selectQueMember" resultType="Member" resultMap="Member" parameterType="Que">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND MNO = #{mno}
	</select>
	
	<insert id="insertQnA" parameterType="Que">
		INSERT INTO QUE
		VALUES (SEQ_QNO.NEXTVAL, #{mno}, #{qtype}, #{qtitle}, SYSDATE, #{qcontent}, 'N', 'N', #{qpwd}, #{pwdStatus})
	</insert>
	
	<select id="selectQnAList" resultType="Que" resultMap="QueResultSet">
		SELECT *
		FROM QUE Q
		LEFT JOIN MEMBER M ON (Q.MNO = M.MNO)
		<where>
			<if test="searchCondition == 'qtitle'">
				QTITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition == 'qtype'">
				QTYPE = #{searchValue}
			</if>
		</where>
	</select>
	
	<select id="selectOneQnA" resultType="Que" resultMap="QueResultSet">
		SELECT *
		FROM QUE
		WHERE QNO = #{qno}
	</select>
	
	<select id="selectOneAns" resultType="Ans" resultMap="AnsResultSet" parameterType="Que">
		SELECT *
		FROM ANS
		WHERE QNO = #{qno}
	</select>
</mapper>































