<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hotel">

	<resultMap type="com.kh.hotels.mngRooms.model.vo.RoomInfo"
		id="RoomInfoResultSet">
		<id property="rt_No" column="RT_NO" />
		<result property="rm_No" column="RM_NO" />
		<result property="std_Per" column="STD_PER" />
		<result property="rm_Option" column="RM_OPTION" />
		<result property="rm_Status" column="RM_STATUS" />
		<result property="rt_Name" column="RT_NAME" />
		<result property="minPer" column="MINPER" />
		<result property="maxPer" column="MAXPER" />
		<result property="limitPrc" column="LIMITPRC" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileLevel" column="FILE_LEVEL" />
	</resultMap>

	<resultMap
		type="com.kh.hotels.mngReserv.model.vo.ReservationCheck"
		id="ReservationCheck">
		<id property="rsvNo" column="RSV_NO" />
		<result property="mno" column="mno" />
		<result property="rmNo" column="RM_NO" />
		<result property="userName" column="NAME" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />
		<result property="stayPrice" column="stay_Price" />
		<result property="checkIn" column="checkIn" />
		<result property="checkOut" column="checkOut" />
		<result property="rsvDate" column="rsv_Date" />
		<result property="modDate" column="mod_Date" />
		<result property="checkInTime" column="ci_time" />
		<result property="rtName" column="rt_Name" />
		<result property="adult" column="adult" />
		<result property="child" column="child" />
		<result property="rmNo" column="rmNo" />
		<result property="rsvReq" column="rsv_Req" />
		<result property="rsvOption" column="rsv_Option" />
	</resultMap>

	<resultMap id="Member"
		type="com.kh.hotels.mngMember.model.vo.Member">
		<id column="mno" property="mno" />
		<result column="Name" property="userName" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="mmemo" property="mmemo" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngClient.model.vo.Que" id="QueResultSet">
		<id property="qno" column="qno" />
		<result property="mno" column="mno" />
		<result property="qtype" column="qtype" />
		<result property="qtitle" column="qtitle" />
		<result property="qdate" column="qdate" />
		<result property="qcontent" column="qcontent" />
		<result property="ansStatus" column="ans_Status" />
		<result property="delStatus" column="del_Status" />
		<result property="qpwd" column="qpwd" />
		<result property="pwdStatus" column="pwd_Status" />
		<result property="userName" column="Name" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngClient.model.vo.Ans" id="AnsResultSet">
		<id property="ano" column="ano" />
		<result property="qno" column="qno" />
		<result property="mno" column="mno" />
		<result property="acontent" column="acontent" />
		<result property="adate" column="adate" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngRooms.model.vo.Prc" id="PrcResultSet">
		<id property="rpNo" column="rp_No" />
		<result property="rtNo" column="rt_No" />
		<result property="rtName" column="rt_Name" />
		<result property="termType" column="term_Type" />
		<result property="dayType" column="day_Type" />
		<result property="stayType" column="stay_Type" />
		<result property="price" column="price" />
		<result property="regDate" column="reg_Date" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngRooms.model.vo.Rfd" id="RfdResultSet">
		<id property="rfdNo" column="rfd_No" />
		<result property="termType" column="term_Type" />
		<result property="dayType" column="day_Type" />
		<result property="rfdDate" column="rfd_Date" />
		<result property="rfdRate" column="rfd_Rate" />
		<result property="hname" column="hname" />
		<result property="ltype" column="ltype" />
	</resultMap>

	<!-- 문의 내용 갯수 조회 쿼리 -->
	<select id="selectListCount" resultType="_int" parameterType="java.util.HashMap">
		SELECT COUNT(*)
		FROM QUE
		WHERE DEL_STATUS = 'N'
		<choose>
			<when test="searchCondition == 'qtitle'">
				AND QTITLE LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchCondition == 'qtype'">
				AND QTYPE LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
		AND QUE_DIVISION = 'ONLINE'
		ORDER BY QNO
	</select>
	
	<!-- 문의 리스트 조회 쿼리 -->
	<select id="selectQnAList" resultType="Que" resultMap="QueResultSet" parameterType="java.util.HashMap">
		SELECT *
		FROM QUE Q
		LEFT JOIN MEMBER M ON (Q.MNO = M.MNO)
		WHERE QUE_DIVISION = 'ONLINE'
		<choose>
			<when test="searchCondition == 'qtitle'">
				AND QTITLE LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchCondition == 'qtype'">
				AND QTYPE LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
		ORDER BY QNO
	</select>
	
	<!-- 객실 유형 갯수 조회 쿼리 -->
	<select id="selectRoomList" resultType="java.util.ArrayList" resultMap="RoomInfoResultSet">
		SELECT STD_PER, R.RT_NO, RM_STATUS, RT_NAME, MINPER, MAXPER, A.FILE_PATH, A.FILE_LEVEL
		FROM ROOM R
		LEFT JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		FULL JOIN ATTACH A ON(R.RT_NO = A.RT_NO)
		WHERE A.FILE_LEVEL = 1
		GROUP BY R.RT_NO, STD_PER, RM_STATUS, RT_NAME,
		MINPER, MAXPER, A.FILE_PATH, A.FILE_LEVEL
		ORDER BY RT_NO
	</select>

	<!-- 객실 정보 조회용 쿼리 -->
	<select id="selectRoom" resultType="java.util.ArrayList" resultMap="RoomInfoResultSet">
		SELECT STD_PER, RM_OPTION, R.RT_NO, RM_STATUS, RT_NAME, MINPER, MAXPER, LIMITPRC
		FROM ROOM R
		LEFT JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		LEFT JOIN ATTACH A ON(R.RT_NO = A.RT_NO)
		WHERE R.RT_NO = #{roomType}
		GROUP BY R.RT_NO, STD_PER, RM_OPTION, RM_STATUS, RT_NAME,
		MINPER, MAXPER, LIMITPRC
	</select>
	
	<!-- 객실 사진 조회용 쿼리 -->
	<select id="selectFile" resultType="java.util.ArrayList" resultMap="RoomInfoResultSet">
		SELECT A.FILE_PATH, A.FILE_LEVEL
		FROM ROOM R
		LEFT JOIN ATTACH A ON(R.RT_NO = A.RT_NO)
		WHERE R.RT_NO = #{roomType}
		GROUP BY A.FILE_PATH, A.FILE_LEVEL
		ORDER BY A.FILE_LEVEL ASC
	</select>
	
	<!-- 객실 유형별 객실 번호 조회용 쿼리 -->
	<select id="selectRoomNoList" resultType="RoomInfo" resultMap="RoomInfoResultSet">
		<![CDATA[
			SELECT RM_NO
			FROM ROOM
			WHERE RT_NO = #{roomType}
			MINUS
			SELECT RSV.RM_NO
			FROM RSV
			LEFT JOIN ROOM ON (RSV.RM_NO = ROOM.RM_NO)
			WHERE RT_NO = #{roomType}
			AND CHECKOUT > SYSDATE
			AND CHECKIN < SYSDATE
			MINUS
			SELECT RM_NO
			FROM BROKEN_HIS
			MINUS
			SELECT RM_NO
			FROM STAY
			WHERE STAY_STATUS = 'N'
		]]>
	</select>
	
	<select id="selectRoomType" resultType="_int">
		SELECT RT_NO
		FROM ROOM
		WHERE RM_NO = (SELECT RM_NO
		               FROM RSV
		               WHERE RSV_NO = #{rsvNo})
	</select>
	
	<!-- 가격 정보 조회용 쿼리 -->
	<select id="selectRoomPrice" resultMap="PrcResultSet" resultType="java.util.ArrayList">
		SELECT RT.RT_NO AS RT_NO, RT.RT_NAME AS RT_NAME, TERM_TYPE, DAY_TYPE, PRICE
		FROM ROOM_TYPE RT
		LEFT JOIN PRC P ON (RT.RT_NO = P.RT_NO)
		WHERE RT.RT_NO = #{roomType}
		AND STAY_TYPE = 'STAY'
	</select>
	
	<!-- 예약 정보 조회용 쿼리 -->
	<select id="reservationCheck" resultType="ReservationCheck"
		resultMap="ReservationCheck" parameterType="ReservationCheck">
		SELECT RSV_NO, M.NAME, M.PHONE, M.EMAIL, RS.STAY_PRICE, RS.CHECKIN, RS.CHECKOUT, RS.RSV_DATE, RS.CI_TIME, RT_NAME, RS.ADULT, RS.CHILD, RS.RSV_REQ, RS.RSV_OPTION
		FROM ROOM R
		JOIN ROOM_TYPE RT ON(R.RT_NO = RT.RT_NO)
		JOIN RSV RS ON (R.RM_NO = RS.RM_NO)
		JOIN MEMBER M ON (RS.MNO = M.MNO)
		WHERE RS.RSV_STATUS = 'OK'
		AND RSV_NO = #{rsvNo}
		AND M.NAME = #{userName}
		AND M.PHONE = #{phone}
		GROUP BY RT_NAME, RSV_NO, RS.MNO, M.NAME, RS.STAY_PRICE, M.PHONE, M.EMAIL,
		RS.CHECKIN, RS.CHECKOUT, RS.RSV_DATE, RS.CI_TIME,RS.ADULT, RS.CHILD, RS.RSV_REQ, RS.RSV_OPTION
	</select>

	<!-- 예약번호 생성용 예약내역 조회 쿼리 -->
	<select id="reservationCnt" resultType="_int">
		SELECT COUNT(*)
		FROM RSV
		WHERE RSV_NO LIKE '%'||#{rsvNo}||'%'
	</select>

	<!-- 예약 입력 쿼리 -->
	<insert id="insertReservation" parameterType="ReservationCheck">
		INSERT
		INTO RSV (RSV_NO, RM_NO, MNO, CHECKIN, CHECKOUT, STAY_PRICE, RSV_DATE, RSV_STATUS, RSV_WAY, ADULT, CHILD, CI_TIME, RSV_REQ, RSV_OPTION, MOD_DATE)
		VALUES(#{rsvNo}, #{rmNo}, #{mno}, #{checkIn}, #{checkOut},
		#{stayPrice}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'OK', 'ONLINE', #{adult}, #{child}, #{checkInTime}, #{rsvReq}, #{rsvOption}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'))
	</insert>
	
	<insert id="insertReservationHis" parameterType="ReservationCheck">
		INSERT INTO RSV_HIS
		VALUES(#{rsvNo}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'ALL', 'NONE', 'ALL', 'INSERT')
	</insert>
	
	<!-- 서비스 입력 쿼리 -->
	<insert id="insertBreakfast" parameterType="ReservationCheck">
		INSERT INTO
		SVC_USE (SVC_CODE, USE_CNT, USE_STATUS, REG_DATE, SVC_NO, RSV_NO)
		VALUES('BF', TO_NUMBER(#{adult}) + TO_NUMBER(#{child}), 'Y', TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), SEQ_SVC_NO.NEXTVAL, #{rsvNo})
		<selectKey keyProperty="num" resultType="_int" order="AFTER">
			SELECT SEQ_SVC_NO.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertSvcUseHis" parameterType="ReservationCheck">
		INSERT INTO SVC_USE_HIS
		VALUES(#{num}, 'ALL', 'NONE', 'ALL', TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'INSERT')
	</insert>
	
	<!-- stay 입력 쿼리 -->
	<insert id="insertStay" parameterType="ReservationCheck">
		INSERT INTO STAY
		VALUES (SEQ_STAY_NO.NEXTVAL, #{rmNo}, #{mno}, #{checkIn}, #{checkOut},
		'N', 'STAY', #{stayPrice}, #{stayPrice}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), #{rsvNo},
		TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), NULL, TO_NUMBER(#{adult}) + TO_NUMBER(#{child}))
		<selectKey keyProperty="num" resultType="_int" order="AFTER">
			SELECT SEQ_STAY_NO.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertStayHis" parameterType="ReservationCheck">
		INSERT ALL INTO STAY_HIS
		VALUES(#{num}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'ALL', 'NONE', 'ALL', 'INSERT')
		INTO STAY_REQ_HIS
		VALUES(#{num}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), #{rsvReq}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), DEFAULT)
		SELECT * FROM DUAL
	</insert>
	
	<!-- Payment 입력 쿼리 -->
	<insert id="insertPayment" parameterType="ReservationCheck">
		INSERT INTO PAYMENT
		VALUES (SEQ_PNO.NEXTVAL, 'CARD', #{stayPrice}, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'),
		'DONE', TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'Y', #{rsvNo}, NULL)
	</insert>	
	
	<!-- 예약정보 확인 / 예약 멤버 조회 쿼리 -->
	<select id="selectMember" resultType="Member" resultMap="Member" parameterType="ReservationCheck">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND NAME = #{userName}
		AND PHONE = #{phone}
		AND EMAIL = #{email}
	</select>
	
	<insert id="insertMember" parameterType="ReservationCheck">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{userName}, #{phone},
		#{email}, 'Y','CLIENT',
		NULL)
	</insert>
	
	<insert id="insertMemberHis" parameterType="ReservationCheck">
		INSERT INTO MEMBER_HIS
		VALUES(#{mno}, 'ALL', '1', DEFAULT, TO_CHAR(#{rsvDate}, 'YYYY-MM-DD HH24:MI:SS'), 'INSERT')
	</insert>
	
	<insert id="insertQnAMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MNO.NEXTVAL, #{userName}, NULL,
		#{email}, 'Y','CLIENT', NULL)
	</insert>

	<select id="selectQnAMember" resultType="Member" resultMap="Member" parameterType="Member">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND NAME = #{userName}
		AND EMAIL = #{email}
	</select>
	
	<select id="selectQueMember" resultType="Member" resultMap="Member" parameterType="Que">
		SELECT *
		FROM MEMBER 
		WHERE TYPE = 'CLIENT'
		AND MNO = #{mno}
	</select>
	
	<insert id="insertQnA" parameterType="Que">
		INSERT INTO QUE
		VALUES (SEQ_QNO.NEXTVAL, #{mno}, #{qtype}, #{qtitle}, SYSDATE, #{qcontent}, 'N', 'N', #{qpwd}, #{pwdStatus}, 'ONLINE')
	</insert>
	
	<select id="selectOneQnA" resultType="Que" resultMap="QueResultSet">
		SELECT *
		FROM QUE
		WHERE QNO = #{qno}
	</select>
	
	<select id="selectOneAns" resultType="Ans" resultMap="AnsResultSet" parameterType="Que">
		SELECT *
		FROM ANS
		WHERE QNO = #{qno}
	</select>
	
	<select id="selectRfdList" resultType="java.util.ArrayList" resultMap="RfdResultSet">
		SELECT *
		FROM RFD
		WHERE HNAME = 'HotelBoutique'
		AND LTYPE = 'RFD'
		<if test="termType != null">
			AND TERM_TYPE = #{termType}
			AND DAY_TYPE = #{dayType}
			AND RFD_DATE = #{rfdDate}
		</if>
		ORDER BY TERM_TYPE DESC, DAY_TYPE, TO_NUMBER(RFD_DATE) DESC
	</select>
	
	<!-- 예약취소 -->
	<update id="cancelRsv">
		UPDATE RSV
		SET RSV_STATUS = 'REFUND', MOD_DATE = TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss')
		WHERE RSV_NO = #{rsvNo}
	</update>
	
	<insert id="cancelRsvHis">
		INSERT INTO RSV_HIS
		VALUES (#{rsvNo}, TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'), 'RSV_STATUS', 'OK', 'REFUND', '예약취소')
	</insert>
	
	<update id="cancelRsvSvcUse">
		UPDATE SVC_USE
		SET USE_STATUS = 'N'
		WHERE RSV_NO = #{rsvNo}
	</update>
	
	<select id="cancelRsvFindSvcNo" resultType="_int">
		SELECT SVC_NO
		FROM SVC_USE
		WHERE RSV_NO = #{rsvNo}
	</select>
	
	<insert id="cancelRsvSvcUseHis">
		INSERT INTO SVC_USE_HIS
		VALUES (#{svcNo}, 'USE_STATUS', 'Y', 'N', TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'), '예약취소')
	</insert>
	
	<insert id="cancelRsvRFD">
		INSERT INTO PAYMENT
		VALUES (SEQ_PNO.NEXTVAL, 'ACCOUNT', #{rfdprice}, #{rsvDate}, 'REFUND', TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'), 'Y', #{rsvNo}, NULL)
	</insert>
	
	<select id="matchPwd" parameterType="Que" resultType="Que">
		SELECT QPWD
		FROM QUE
		WHERE QNO = #{qno}
	</select>
	
	
	
	
	
	
</mapper>