<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Rooms">

	<resultMap type="com.kh.hotels.mngRooms.model.vo.RoomList" id="roomListSet">
		<id property="rmNo" column="RM_NO" />
		<result property="rmNum" column="RM_NUM" />
		<result property="floor" column="FLOOR" />
		<result property="rmStatus" column="RM_STATUS" />
		<result property="rtNo" column="RT_NO" />
		<result property="rtName" column="RT_NAME" />
		<result property="cleanStatus" column="CLEAN_STATUS" />
		<result property="rmno" column="RMNO" />
		<result property="rname" column="RNAME" />
		<result property="smno" column="SMNO" />
		<result property="sname" column="SNAME" />
		<result property="stayNo" column="STAY_NO" />
		<result property="scheckin" column="S_CHECKIN" />
		<result property="scheckout" column="S_CHECKOUT" />
		<result property="stayStatus" column="STAY_STATUS" />
		<result property="stayType" column="STAY_TYPE" />
		<result property="stayPrice" column="STAY_PRICE" />
		<result property="rsvNo" column="RSV_NO" />
		<result property="rcheckin" column="R_CHECKIN" />
		<result property="rcheckout" column="R_CHECKOUT" />
		<result property="rsvPrice" column="RSV_PRICE" />
		<result property="rsvStatus" column="RSV_STATUS" />
		<result property="ciTime" column="CI_TIME" />
		<result property="nsUnit" column="NS_UNIT" />
	</resultMap>

	<select id="viewRoomList" resultMap="roomListSet">
		SELECT R.RM_NO, R.RM_NUM, R.FLOOR, R.RM_STATUS, T.RT_NO, T.RT_NAME, N.CLEAN_STATUS,
		       S.STAY_NO, S.CHECKIN AS "S_CHECKIN", S.CHECKOUT AS "S_CHECKOUT", S.STAY_STATUS, S.STAY_TYPE, S.PRICE AS "STAY_PRICE",
		       V.RSV_NO, V.CHECKIN AS "R_CHECKIN", V.CHECKOUT AS "R_CHECKOUT", V.STAY_PRICE AS "RSV_PRICE", V.RSV_STATUS, V.CI_TIME,
		       M1.MNO AS "RMNO", M1.NAME AS "RNAME", M2.MNO AS "SMNO", M2.NAME AS "SNAME"
		FROM ROOM R
		JOIN ROOM_TYPE T ON (R.RT_NO = T.RT_NO)
		JOIN ROOM_STT N ON (R.RM_NO = N.RM_NO)
		LEFT JOIN STAY S ON (R.RM_NO = S.RM_NO)
		LEFT JOIN RSV V ON (R.RM_NO = V.RM_NO)
		LEFT JOIN MEMBER M1 ON (V.MNO = M1.MNO)
		LEFT JOIN MEMBER M2 ON (S.MNO = M2.MNO)
		WHERE R.RM_STATUS = 'Y'
		ORDER BY RM_NUM
	</select>

</mapper>