<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report">
	<resultMap id="purRequestResultSet" type="PurRequest">
		<result property="rptNo" column="RPT_NO"></result>
		<result property="ino" column="INO"></result>
		<result property="cnCode" column="CN_CODE"></result>
		<result property="amount" column="AMOUNT"></result>
		<result property="totPrice" column="TOT_PRICE"></result>
		<result property="purRsn" column="PUR_RSN"></result>
		<result property="deptNo" column="DEPT_NO"></result>
		<result property="mName" column="NAME"></result>
		<result property="rptDate" column="RPT_DATE"></result>
		<result property="sName" column="NAME"></result>
		<result property="title" column="RPT_TITLE"></result>
		<result property="type" column="TYPE"></result>
		<result property="cname" column="CN_NAME"></result>
		<result property="iname" column="INAME"></result>
		<result property="mfg" column="MFG"></result>
		<result property="vosprice" column="VOS"></result>
	</resultMap>

	<resultMap type="com.kh.hotels.mngApproval.model.vo.Report"
		id="resultSetReport">

		<id property="rptNo" column="RPT_NO" />
		<result property="rptNo" column="RPT_NO" />
		<result property="mno" column="MNO" />
		<result property="rptDate" column="RPT_DATE" />
		<result property="receiver" column="RECEIVER" />
		<result property="rptTitle" column="RPT_TITLE" />
		<result property="rptStatus" column="RPT_STATUS" />
		<result property="apprDate" column="APPR_DATE" />
		<result property="docNo" column="DOC_NO" />
		<result property="rptType" column="RPT_TYPE" />
		<result property="mname" column="NAME" />
		<result property="sname" column="NAME" />
		<result property="smno" column="MNO" />
	</resultMap>

	<resultMap id="repRequestResultset" type="RepRequest">
		<result property="ino" column="INO"></result>
		<result property="cnCode" column="CN_CODE"></result>
		<result property="rsn" column="REP_RSN"></result>
		<result property="price" column="REP_PRICE"></result>
		<result property="totalPrice" column="TOT_PRICE"></result>
		<result property="rptNo" column="RPT_NO"></result>
		<result property="docno" column="DOC_NO"></result>
		<result property="mname" column="NAME"></result>
		<result property="rptDate" column="RPT_DATE"></result>
		<result property="sname" column="NAME"></result>
		<result property="smno" column="MNO"></result>
		<result property="title" column="RPT_TITLE"></result>
		<result property="content" column="REP_RSN"></result>
		<result property="iname" column="INAME"></result>
		<result property="cnName" column="CN_NAME"></result>
		<result property="deptName" column="DEPT_NAME"></result>
		<result property="mmno" column="MNO"></result>
	</resultMap>
	
	<resultMap id="PartiResultSet" type="PartiReport">
		<result property="mno" column="MNO"></result>
		<result property="deptNo" column="DEPT_NO"></result>
		<result property="auth" column="AUTH1"></result>
	</resultMap>
	
	<resultMap id="OrderResultSet" type="OrderRequest">
		<result property="reqNo" column="PURRPT_NO"></result>
		<result property="rptNo" column="RPT_NO"></result>
		<result property="ino" column="INO"></result>
		<result property="cnCode" column="CN_CODE"></result>
		<result property="amount" column="AMOUNT"></result>
		<result property="totPrice" column="TOT_PRICE"></result>
		<result property="orderRsn" column="ORDER_RSN"></result>
		<result property="deptNo" column="DEPT_NO"></result>
		<result property="mname" column="NAME"></result>
		<result property="rptDate" column="RPT_DATE"></result>
		<result property="sname" column="RECEIVER"></result>
		<result property="title" column="RPT_TITLE"></result>
		<result property="content" column="ORDER_RSN"></result>
		<result property="type" column="RPT_TYPE"></result>
		<result property="cname" column="CN_NAME"></result>
		<result property="iname" column="INAME"></result>
		<result property="mfg" column="MFG"></result>
		<result property="vosprice" column="VOS"></result>
		<result property="docno" column="DOC_NO"></result>
		<result property="deptname" column="DEPT_NAME"></result>
		<result property="smno" column="MNO"></result>
		<result property="mno" column="MNO"></result>
		<result property="stfId" column="STF_ID"></result>
		<result property="purDocuno" column="DOC_NO"></result>
		
	</resultMap>
	
	



	<select id="selectApproveList" resultType="java.util.HashMap">

		SELECT ROWNUM RNUM,
		RPT_NO, RMNO, MNAME, RPTDATE, RCEIVER, SNAME, RPTITLE,
		RPSTATUS,
		APPDATE, DOCNO, RPTYPE
		FROM(
		SELECT
		R.RPT_NO AS "RPT_NO", R.MNO AS
		"RMNO", M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS
		"RCEIVER", S.NAME AS "SNAME",
		R.RPT_TITLE AS
		"RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M,
		(SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
		ORDER BY RPT_NO ASC)
		ORDER BY RNUM DESC
	</select>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		Report
	</select>
	<select id="selectFilterListCount" parameterType="String"
		resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE RPT_STATUS = #{cateCh}
	</select>
	<select id="selectFilterApproveList" parameterType="String"
		resultType="java.util.HashMap">
		SELECT ROWNUM RNUM,
		R.RPT_NO AS "RPT_NO", R.MNO AS "RMNO",
		M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS "RCEIVER",
		S.NAME AS "RNAME",
		R.RPT_TITLE AS "RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M, (SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
		AND RPT_STATUS = #{cateCh}
		ORDER BY ROWNUM DESC
	</select>
	<select id="selectApproveDetail" parameterType="_int"
		resultType="java.util.HashMap">
		SELECT R.DOC_NO AS "DOCNO", D.DEPT_NAME AS "DNAME", M.NAME
		AS "MNAME", R.RPT_DATE AS "RDATE", S.NAME AS "SNAME",
		RPT_TITLE AS
		"RTITLE", ROWNUM RNUM, I.INAME AS "INAME", PE.AMOUNT AS
		"AMOUNT",IT.LCATEGORY AS "LCATEGORY",
		I.VOS AS "VOS", PE.TOT_PRICE AS
		"TPRICE", PE.PUR_RSN AS "PRSN", R.RPT_STATUS AS "RSTATUS", I.UP AS
		"UP", IT.TYPE AS "ITYPE", C.CN_NAME AS "CNAME", I.MFG AS "MFG", R.RPT_NO AS "RPT_NO"
		FROM
		REPORT R, PUR_REQ PE, MEMBER M, ITEM I,
		DEPT D, STAFF ST,
		ITEM_TYPE IT,
		CONN C, (SELECT
		MNO, NAME
		FROM MEMBER
		WHERE MNO IN
		(SELECT DISTINCT
		RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
		AND
		M.MNO = ST.MNO
		AND I.CN_CODE = C.CN_CODE
		AND ST.DEPT_NO = D.DEPT_NO
		AND
		R.RPT_NO =
		PE.RPT_NO
		AND
		PE.INO = I.INO
		AND I.TYPE_NO = IT.TYPE_NO
		AND
		PE.RPT_NO =
		#{rptNo}

	</select>
	<select id="selectApproveRepairDetail" parameterType="_int"
		resultType="java.util.HashMap">
		SELECT R.DOC_NO AS "DOCNO", D.DEPT_NAME AS "DNAME", M.NAME
		AS "MNAME",
		R.RPT_DATE AS "RDATE", S.NAME AS "SNAME",
		RPT_TITLE AS
		"RTITLE", ROWNUM
		RNUM, I.INAME AS "INAME", IT.LCATEGORY AS "LCATEGORY",
		I.VOS AS "VOS",
		RR.TOT_PRICE AS "TPRICE", RR.REP_RSN AS "RSN",
		R.RPT_STATUS AS
		"RSTATUS", I.UP AS "UP",
		RR.CN_CODE AS "CCODE",
		RR.REP_PRICE AS "RPRICE", CON.CN_NAME AS "CNAME", RR.INO
		AS
		"INO",IT.TYPE AS "ITYPE", RR.RPT_NO AS "RPT_NO"
		FROM
		REPORT R, REP_REQ RR, MEMBER M, ITEM I,
		DEPT D, STAFF ST,
		ITEM_TYPE IT,
		CONN CON, (SELECT
		MNO, NAME
		FROM MEMBER
		WHERE MNO IN
		(SELECT DISTINCT
		RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
		AND
		M.MNO = ST.MNO
		AND ST.DEPT_NO = D.DEPT_NO
		AND
		R.RPT_NO = RR.RPT_NO
		AND
		RR.INO = I.INO
		AND I.TYPE_NO = IT.TYPE_NO
		AND
		RR.CN_CODE = CON.CN_CODE
		AND RR.RPT_NO = #{rptNoi}
	</select>
	<select id="selectApproveOrderDetail" parameterType="_int"
		resultType="java.util.HashMap">
		SELECT R.DOC_NO AS "DOCNO", D.DEPT_NAME AS "DNAME", M.NAME
		AS "MNAME", R.RPT_DATE AS "RDATE", S.NAME AS "SNAME",
		RPT_TITLE AS
		"RTITLE", ROWNUM RNUM, I.INAME AS "INAME", ORQ.AMOUNT AS
		"AMOUNT",IT.LCATEGORY AS "LCATEGORY",
		I.VOS AS "VOS", ORQ.TOT_PRICE AS
		"TPRICE", ORQ.ORDER_RSN AS "ORSN", R.RPT_STATUS AS "RSTATUS", I.UP AS
		"UP",
		CON.CN_NAME AS "CNAME",IT.TYPE AS "ITYPE", I.MFG AS "MFG", ORQ.RPT_NO AS "RPT_NO", ORQ.RCV_REQ_DATE AS "REQDATE"
		FROM
		REPORT R, ORDER_REQ
		ORQ, MEMBER M,
		ITEM I, DEPT D, STAFF ST, ITEM_TYPE
		IT, CONN CON,
		(SELECT
		MNO, NAME
		FROM MEMBER
		WHERE MNO IN (SELECT DISTINCT
		RECEIVER
		FROM
		REPORT)
		) S
		WHERE
		R.MNO = M.MNO
		AND R.RECEIVER = S.MNO
		AND
		M.MNO = ST.MNO
		AND ST.DEPT_NO =
		D.DEPT_NO
		AND R.RPT_NO = ORQ.RPT_NO
		AND
		ORQ.INO = I.INO
		AND I.TYPE_NO =
		IT.TYPE_NO
		AND ORQ.CN_CODE = CON.CN_CODE
		AND ORQ.RPT_NO =
		#{rptNo}
	</select>

	<select id="selectApproveInfo" resultType="java.util.HashMap">
		SELECT M.NAME AS
		"NAME", S.MNO AS "SMNO",
		STF_ID, S.AUTH_NO, S.DEPT_NO, D.DEPT_NAME AS
		"DNAME"
		FROM MEMBER M
		JOIN STAFF S ON (M.MNO = S.MNO)
		JOIN DEPT D ON
		(S.DEPT_NO
		= D.DEPT_NO)
		JOIN AUTH A ON (S.AUTH_NO = A.AUTH_NO)
		WHERE
		A.AUTH_NO =
		'AUTH2'
		AND D.DEPT_NO = 2
		AND STF_ID != 'master'
	</select>
	<!-- <select id="selectVos" parameterType="String" resultType="_int"> SELECT 
		VOS </select> -->

	<select id="selectConnName" parameterType="String"
		resultType="java.util.HashMap">
		SELECT DISTINCT CN_NAME
		FROM ITEM_TYPE IT
		JOIN ITEM I
		ON(IT.TYPE_NO=I.TYPE_NO)
		JOIN CONN C ON(I.CN_CODE = C.CN_CODE)
		WHERE
		IT.TYPE = #{value}
	</select>
	<select id="selectItemName" parameterType="PurRequest"
		resultMap="purRequestResultSet">
		SELECT INAME, INO
		FROM (SELECT INAME, MAX(INO) AS "INO"
		FROM CONN C
		JOIN ITEM I ON(C.CN_CODE = I.CN_CODE)
        JOIN ITEM_TYPE IT ON(I.TYPE_NO = IT.TYPE_NO)
		WHERE MFG = #{mfg}
		AND CN_NAME = #{cname}
        AND TYPE = #{type}
		GROUP BY INAME)
	</select>
	<select id="selectMadeComName" parameterType="PurRequest"
		resultType="java.util.HashMap">
		SELECT DISTINCT MFG
		FROM ITEM I
		JOIN CONN C ON(I.CN_CODE =
		C.CN_CODE)
        JOIN ITEM_TYPE IT ON(I.TYPE_NO = IT.TYPE_NO)
		WHERE C.CN_NAME = #{cname}
        AND IT.TYPE = #{type}
	</select>
	<select id="selectVosPrice" resultType="java.util.HashMap"
		parameterType="String">

		SELECT VOS, INO
		FROM (SELECT VOS, MAX(INO) AS "INO"
		FROM
		ITEM I
		JOIN ITEM_TYPE IT ON(I.TYPE_NO = IT.TYPE_NO)
		JOIN CONN C ON
		(I.CN_CODE =
		C.CN_CODE)
		WHERE INAME = #{iname}
		AND TYPE = #{type}
		AND
		CN_NAME =
		#{cnName}
		AND MFG = #{madeComName}
		GROUP BY VOS)

	</select>

	<!-- 구매요청서 입력 쿼리문 -->
	<select id="insertPurchaseApproveList"
		parameterType="PurRequest">
		INSERT INTO REPORT (RPT_NO, MNO, RPT_DATE, RECEIVER,
		RPT_TITLE, RPT_STATUS,
		APPR_DATE, DOC_NO, RPT_TYPE)
		VALUES(SEQ_RPT_NO.NEXTVAL, #{mmno}, #{rptDate}, #{smno}, #{title},
		DEFAULT, DEFAULT, #{docno},
		'PURCHASE')
	</select>
	
	<select id="selectsmno" parameterType="String" resultType="_int">
		SELECT MNO
		FROM STAFF 
		WHERE STF_ID = #{stfId}
	</select>
	
	<!-- rptno가져오기 -->
	<select id="selectRptNo" parameterType="_long" resultType="_int">
		SELECT
		RPT_NO
		FROM REPORT
		WHERE DOC_NO = #{docNo}
	</select>
	<!-- 구매요청서 값 insert -->
	<select id="insertPurRequest" parameterType="PurRequest">
		INSERT INTO
		PUR_REQ(INO, AMOUNT, TOT_PRICE, PUR_RSN, RPT_NO)
		VALUES(#{ino},
		#{amount}, #{totPrice}, #{content}, #{rptNo})
	</select>
	<select id="selectRepairIname" parameterType="_int"
		resultType="String">
		SELECT INAME
		FROM ITEM
		WHERE INO = #{ino}
	</select>
	<select id="selectRepairInfo" resultType="java.util.HashMap">
		SELECT M.MNO AS "SMNO",
		NAME, D.DEPT_NO AS "DNO"
		FROM MEMBER M
		JOIN STAFF S ON(M.MNO = S.MNO)
		JOIN DEPT D ON(S.DEPT_NO = D.DEPT_NO)
		WHERE D.DEPT_NO = 1
	</select>
	<!-- 수리요청서 정보 넣기 -->
	<select id="insertReqReqInfo" parameterType="RepRequest">
		INSERT INTO REPORT
		(RPT_NO, MNO, RPT_DATE, RECEIVER, RPT_TITLE, RPT_STATUS,
		APPR_DATE,
		DOC_NO, RPT_TYPE)
		VALUES(SEQ_RPT_NO.NEXTVAL, #{mmno}, #{rptDate},
		#{smno}, #{title}, DEFAULT, DEFAULT, #{docno},
		'REPAIR')
	</select>
	<!-- 수리 요청서 rptno가져오기 -->
	<select id="selectRepReqRptNo" parameterType="_long"
		resultType="_int">
		SELECT RPT_NO
		FROM REPORT
		WHERE DOC_NO = #{docNo}
	</select>
	<!-- 수리 요청서 값 insert -->
	<select id="insertRepReqList" parameterType="RepRequest">
		INSERT INTO
		REP_REQ(INO, CN_CODE, REP_RSN, REP_PRICE, TOT_PRICE, RPT_NO)
		VALUES(#{ino}, #{cnCode}, #{rsn}, #{price}, #{totalPrice}, #{rptNo})
	</select>
	<!-- cncode가져오기 -->
	<select id="selectCncode" parameterType="String"
		resultType="String">
		SELECT CN_CODE
		FROM CONN
		WHERE CN_NAME = #{cnName}
	</select>

	<!-- 참여결재 리스트 불러오기 -->
	<select id="selectPariApproveList" parameterType="_int" resultType="java.util.HashMap">
		SELECT ROWNUM RNUM,
		RPT_NO, RMNO, MNAME, RPTDATE, RCEIVER, SNAME, RPTITLE,
		RPSTATUS,
		APPDATE, DOCNO, RPTYPE
		FROM(
		SELECT
		R.RPT_NO AS "RPT_NO", R.MNO AS
		"RMNO", M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS
		"RCEIVER", S.NAME AS "SNAME",
		R.RPT_TITLE AS
		"RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M,
		(SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
        AND RECEIVER = #{mno}
		ORDER BY RPT_NO ASC)
		ORDER BY RNUM DESC
	</select>
	
	<select id="selectPartiApproveListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		Report
		WHERE RECEIVER = #{mno}
	</select>
	<select id="selectPartiFilterCount" parameterType="PartiReport" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE RECEIVER = #{mno}
		AND RPT_STATUS = #{category}
	</select>
	<select id="selectPartiFilterList" parameterType="PartiReport" resultType="java.util.HashMap">
		SELECT ROWNUM RNUM,
		RPT_NO, RMNO, MNAME, RPTDATE, RCEIVER, SNAME, RPTITLE,
		RPSTATUS,
		APPDATE, DOCNO, RPTYPE
		FROM(
		SELECT
		R.RPT_NO AS "RPT_NO", R.MNO AS
		"RMNO", M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS
		"RCEIVER", S.NAME AS "SNAME",
		R.RPT_TITLE AS
		"RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M,
		(SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
        AND RECEIVER = #{mno}
        AND RPT_STATUS = #{category}
		ORDER BY RPT_NO ASC)
		ORDER BY RNUM DESC
	</select>
	<select id="updateApproveStatus" resultType="_int">
		UPDATE REPORT
		SET RPT_STATUS = #{rptStatus},
	    	APPR_DATE = #{apprDate}
	    WHERE RPT_NO = #{rptNo}
	</select>
	
	<select id="selectPariApproveAllList" parameterType="PartiReport" resultType="java.util.HashMap">
		SELECT ROWNUM RNUM,
		RPT_NO, RMNO, MNAME, RPTDATE, RCEIVER, SNAME, RPTITLE,
		RPSTATUS,
		APPDATE, DOCNO, RPTYPE
		FROM(
		SELECT
		R.RPT_NO AS "RPT_NO", R.MNO AS
		"RMNO", M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS
		"RCEIVER", S.NAME AS "SNAME",
		R.RPT_TITLE AS
		"RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M,
		(SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
        AND RECEIVER = #{mno}
		ORDER BY RPT_NO ASC)
		ORDER BY RNUM DESC
	</select>
	<select id="selectOrderInfo" resultType="java.util.HashMap">
		SELECT NAME, STF_ID
		FROM MEMBER M
		JOIN STAFF S ON(M.MNO = S.MNO)
		WHERE S.STF_ID = 'master'
	</select>
	<select id="selectOrderDocu" resultType="java.util.HashMap">
		SELECT DISTINCT DOC_NO
		FROM REPORT R
		JOIN PUR_REQ P ON(R.RPT_NO = P.RPT_NO)
		WHERE P.RPT_NO NOT IN (SELECT PURRPT_NO
		                   FROM ORDER_REQ 
		                   )

	</select>
	<select id="selectOrderList" parameterType="_long" resultType="java.util.HashMap">
		SELECT R.DOC_NO AS "DOCNO", D.DEPT_NAME AS "DNAME", M.NAME
		AS "MNAME", R.RPT_DATE AS "RDATE", S.NAME AS "SNAME",
		RPT_TITLE AS
		"RTITLE", ROWNUM RNUM, I.INAME AS "INAME", PE.AMOUNT AS
		"AMOUNT",IT.LCATEGORY AS "LCATEGORY",
		I.VOS AS "VOS", PE.TOT_PRICE AS
		"TPRICE", PE.PUR_RSN AS "PRSN", R.RPT_STATUS AS "RSTATUS", I.UP AS
		"UP", IT.TYPE AS "ITYPE", C.CN_NAME AS "CNAME", I.MFG AS "MFG", R.RPT_NO AS "RPT_NO", I.INO AS "INO"
		FROM
		REPORT R, PUR_REQ PE, MEMBER M, ITEM I,
		DEPT D, STAFF ST,
		ITEM_TYPE IT,
		CONN C, (SELECT
		MNO, NAME
		FROM MEMBER
		WHERE MNO IN
		(SELECT DISTINCT
		RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND
		R.RECEIVER = S.MNO
		AND
		M.MNO = ST.MNO
		AND I.CN_CODE = C.CN_CODE
		AND ST.DEPT_NO = D.DEPT_NO
		AND
		R.RPT_NO =
		PE.RPT_NO
		AND
		PE.INO = I.INO
		AND I.TYPE_NO = IT.TYPE_NO
		AND
		R.DOC_NO = #{dnum}
		
	</select>
	
	<select id="insertOrderList" parameterType="OrderRequest">
		INSERT INTO REPORT VALUES(SEQ_RPT_NO.NEXTVAL, #{mno}, #{rptDate}, #{smno}, #{title}, DEFAULT, DEFAULT, #{docno}, 'ORDER')
	</select>
	
	<select id="selectOrderRptNo" parameterType="OrderRequest" resultType="_int">
		SELECT RPT_NO
		FROM REPORT
		WHERE DOC_NO = #{docno}
	</select>
	
	<select id="selectPurRequestInfo" parameterType="_long" resultMap="OrderResultSet">
		SELECT PR.RPT_NO, INO
		FROM PUR_REQ PR
        JOIN REPORT R ON(PR.RPT_NO = R.RPT_NO)
		WHERE DOC_NO = #{docno}
	</select>
	<!-- orderRequest 수신자 mno 받아오기 -->
	<select id="selectOrderSmno" parameterType="OrderRequest" resultType="_int">
		SELECT MNO
		FROM STAFF
		WHERE STF_ID = #{stfId} 
	</select>
	
	<select id="insertOrderResult" parameterType="OrderRequest">
		INSERT INTO ORDER_REQ
		VALUES(#{rptNo}, #{ino}, #{cnCode}, #{amount}, #{totPrice}, #{content}, #{purRptNo}, #{purIno}, TO_DATE(#{rsvReqDate}, 'yy-MM-dd'))
	</select>
	<select id="selectCnCode" parameterType="OrderRequest" resultType="String">
		SELECT CN_CODE
		FROM CONN
		WHERE CN_NAME = #{cname}
	</select>
	
	<select id="selectRepairList" resultType="java.util.HashMap">
		SELECT CN_NAME, CN_CODE
		FROM CONN
		WHERE CN_ITEM LIKE '%수리%'
	</select>
	
	<select id="selectMyApproveCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE MNO = #{myMno}
	</select>
	
	<select id="selectMyApproveList" parameterType="_int" resultType="java.util.HashMap">
		SELECT ROWNUM RNUM,
		RPT_NO, RMNO, MNAME, RPTDATE, RCEIVER, RNAME, RPTITLE,
		RPSTATUS,
		APPDATE, DOCNO, RPTYPE
		FROM(
		SELECT
		R.RPT_NO AS "RPT_NO", R.MNO AS
		"RMNO", M.NAME "MNAME", R.RPT_DATE AS
		"RPTDATE", R.RECEIVER AS
		"RCEIVER", S.NAME AS "RNAME",
		R.RPT_TITLE AS
		"RPTITLE", R.RPT_STATUS AS
		"RPSTATUS", R.APPR_DATE AS "APPDATE",
		R.DOC_NO AS "DOCNO", R.RPT_TYPE
		AS "RPTYPE"
		FROM REPORT R, MEMBER M,
		(SELECT MNO, NAME
		FROM MEMBER
		WHERE
		MNO IN (SELECT DISTINCT RECEIVER
		FROM REPORT)
		) S
		WHERE R.MNO = M.MNO
		AND R.RECEIVER = S.MNO
		AND R.MNO = #{myMno}
		ORDER BY RPT_NO ASC)
		ORDER BY RNUM DESC
	</select>
	<select id="selectRepList" parameterType="_int" resultType="java.util.HashMap">
		SELECT *
		FROM REPORT
		WHERE RPT_NO = #{rptNo}
	</select>
	<select id="selectOrderReqList" parameterType="_int" resultType="java.util.HashMap">
		SELECT DISTINCT TO_CHAR(RCV_REQ_DATE) AS "REQDATE"
		FROM ORDER_REQ
		WHERE RPT_NO = #{rptNo}
	</select>
	<select id="insertOrderHis" parameterType="OrderHistory" resultType="_int">
		INSERT INTO ORDER_HIS
		VALUES(SEQ_ORDER_NO.NEXTVAL, DEFAULT, #{orderDate}, DEFAULT, TO_DATE(#{rcvReqDate}, 'yy-MM-dd'), #{rptNo})
	</select>
	<select id="insertRepairHis" parameterType="Report" resultType="_int">
		INSERT INTO REP_HIS
		VALUES (SEQ_REP_NO.NEXTVAL, #{apprDate}, DEFAULT, DEFAULT, #{rptNo})
	</select>
	
	
</mapper>
  
  