<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Stock">
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Stock" id="resultSetStock">
		<id property="ino" column="INO" />
		<result property="iName" column="INAME" /> 
		<result property="amount" column="AMOUNT" />
		<result property="up" column="UP" />
		<result property="vat" column="VAT" />
		<result property="vos" column="VOS" />
		<result property="mfg" column="MFG" />
		<result property="cnName" column="CN_NAME" />
		<result property="type" column="TYPE" />
		<result property="cnt" column="CNT" />
		<result property="areaName" column="AREA_NAME" />
		<result property="strgName" column="STRG_NAME" />
		<result property="rmNo" column="RM_NO" />
		<result property="lCategory" column="LCATEGORY" />
		<result property="mCategory" column="MCATEGORY" />
		<result property="sCategory" column="SCATEGORY" />
		<result property="unit" column="UNIT"/>
		<result property="typeNo" column="TYPE_NO"/>
		<result property="cnCode" column="CN_CODE"/>
	</resultMap>
	
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Repair" id="resultSetRepair">
		<id property="rptNo" column="RPT_NO" />
		<result property="rptTitle" column="RPT_TITLE" />
		<result property="rptStatus" column="RPT_STATUS" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.ItemType" id="resultSetType">
		<id property="typeNo" column="TYPE_NO" />
		<result property="type" column="TYPE" />
		<result property="lcategory" column="LCATEGORY" />
		<result property="mcategory" column="MCATEGORY" />
		<result property="scategory" column="SCATEGORY" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Conn" id="resultSetConn">
		<id property="cnCode" column="CN_CODE" />
		<result property="cnName" column="CN_NAME" />
		<result property="ownerName" column="OWNER_NAME" />
		<result property="cnPhone" column="CN_PHONE" />
		<result property="cnEmail" column="CN_EMAIL" />
		<result property="cnItem" column="CN_ITEM" />
		<result property="cnStatus" column="CN_STATUS" />
		<result property="cnAdd" column="CN_ADD" />
		<result property="regDate" column="REG_DATE" />
		<result property="bankCode" column="BANK_CODE" />
		<result property="bankName" column="BANK_NAME" />
		<result property="account" column="ACCOUNT" />
		<result property="accName" column="ACC_NAME" />
		<result property="accMemo" column="ACC_MEMO" />
	</resultMap>
	
	
	<!-- 리스트카운트 -->
	<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM
		(SELECT I.INAME, T.TYPE, SUM(I.AMOUNT) AS CNT
		FROM (SELECT *
      FROM ITEM
      WHERE ITEM_STATUS = 'N') I
		JOIN ITEM_TYPE T USING(TYPE_NO)
		GROUP BY I.INAME, T.TYPE
		ORDER BY INAME)
	</select>
	
	<select id="selectStockList" resultMap="resultSetStock">
		SELECT I.INAME, T.TYPE, SUM(I.AMOUNT) AS CNT
		FROM (SELECT *
     	 FROM ITEM
     	 WHERE ITEM_STATUS = 'N') I
		JOIN ITEM_TYPE T USING(TYPE_NO)
		GROUP BY I.INAME, T.TYPE
		ORDER BY INAME
	</select>
	
	<insert id="insertStock">
		INSERT INTO ITEM 
		VALUES(SEQ_INO.NEXTVAL,#{iName},#{up},#{vat},#{vos},#{mfg},DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{typeNo},#{cnCode},NULL,NULL,NULL,NULL,#{unit})
	</insert>
	
	
	<!-- 물품 디테일 -->
	
	<select id="selectStockDetailList" resultMap="resultSetStock">
		SELECT T.LCATEGORY,T.MCATEGORY,T.SCATEGORY,I.INO,I.INAME,I.UNIT,I.VOS,I.VAT,I.UP,I.MFG,C.CN_NAME,S.STRG_NAME,A.AREA_NAME,R.RM_NUM AS RM_NO,T.TYPE,I.AMOUNT
		FROM ITEM I
		JOIN ITEM_TYPE T ON (I.TYPE_NO = T.TYPE_NO)
		JOIN CONN C ON (C.CN_CODE = I.CN_CODE)
        LEFT JOIN ROOM R ON (I.RM_NO=R.RM_NO)  
		LEFT JOIN STRG_AREA A ON (A.AREA_NO = I.AREA_NO)
		LEFT JOIN STRG S ON (A.STRG_NO = S.STRG_NO)
        WHERE I.INAME =#{iName}
	</select>
	

	

	
	<!-- 수리 현황 리스트 조회-->
	<select id="selectRepairList" resultMap="resultSetRepair">
		SELECT RPT_NO,RPT_TITLE,RPT_STATUS FROM REP_REQ R
		JOIN REPORT USING(RPT_NO)
	</select>	
	
	<!-- 분류 리스트 -->
	<select id="selectCategoryList" resultMap="resultSetType">
		<choose>
			<when test="lcategory =='대분류'">
				SELECT LCATEGORY
				FROM ITEM_TYPE
				GROUP BY LCATEGORY
			</when>
			<when test="lcategory !='대분류'">
				SELECT MCATEGORY
				FROM ITEM_TYPE
				WHERE LCATEGORY = #{lCategory}
				GROUP BY MCATEGORY
			</when>
		</choose>
	</select>
	
	<insert id="insertCategory" parameterType="ItemType">
		INSERT INTO ITEM_TYPE(TYPE_NO,TYPE,LCATEGORY,MCATEGORY,SCATEGORY)
		VALUES(SEQ_TYPE_NO.NEXTVAL,#{type},#{lCategory},#{mCategory},#{sCategory})
	</insert>
	
	<select id="selectScategory" resultMap="resultSetType">
		SELECT SCATEGORY,TYPE_NO
		FROM ITEM_TYPE
		ORDER BY SCATEGORY ASC
	</select>
	
	<select id="selectCnName" resultMap="resultSetConn">
		SELECT CN_NAME,CN_CODE
		FROM CONN
		JOIN ITEM USING(CN_CODE)
		JOIN ITEM_TYPE USING(TYPE_NO)
		WHERE TYPE_NO =#{typeNo}
	</select>
	
	<update id="deleteStock">
		UPDATE ITEM
		SET ITEM_STATUS = 'Y'
		WHERE INO = #{check}
	</update>
</mapper>

 