<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Stock">
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Stock" id="resultSetStock">
		<id property="ino" column="INO" />
		<result property="iName" column="INAME" /> 
		<result property="amount" column="AMOUNT" />
		<result property="up" column="UP" />
		<result property="vat" column="VAT" />
		<result property="vos" column="VOS" />
		<result property="mfg" column="MFG" />
		<result property="cnName" column="CN_NAME" />
		<result property="type" column="TYPE" />
		<result property="cnt" column="CNT" />
		<result property="areaName" column="AREA_NAME" />
		<result property="strgName" column="STRG_NAME" />
		<result property="rmNo" column="RM_NO" />
		<result property="lCategory" column="LCATEGORY" />
		<result property="mCategory" column="MCATEGORY" />
		<result property="sCategory" column="SCATEGORY" />
		<result property="unit" column="UNIT"/>
		<result property="typeNo" column="TYPE_NO"/>
		<result property="cnCode" column="CN_CODE"/>
		<result property="rmNum" column="RM_NUM"/>
		<result property="strgNo" column="STRG_NO"/>
		<result property="areaNo" column="AREA_NO"/>
	</resultMap>
	
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Repair" id="resultSetRepair">
		<id property="rptNo" column="RPT_NO" />
		<result property="rptTitle" column="RPT_TITLE" />
		<result property="rptStatus" column="RPT_STATUS" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.ItemType" id="resultSetType">
		<id property="typeNo" column="TYPE_NO" />
		<result property="type" column="TYPE" />
		<result property="lcategory" column="LCATEGORY" />
		<result property="mcategory" column="MCATEGORY" />
		<result property="scategory" column="SCATEGORY" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.ItemHistory" id="resultSetHis">
		<id property="ino" column="INO" />
		<result property="modDate" column="MOD_DATE" />
		<result property="modCol" column="MOD_COL" />
		<result property="befData" column="BEF_DATA" />
		<result property="aftData" column="AFT_DATA" />
		<result property="modRsn" column="MOD_RSN" />
		<result property="unit" column="UNIT" />
		<result property="befName" column="BEF_NAME" />
		<result property="aftName" column="AFT_NAME" />
		<result property="befStrgName" column="BER_STRG_NAME" />
		<result property="aftStrgName" column="AFT_STRG_NAME" />
		<result property="befRmNum" column="BEF_RM_NUM" />
		<result property="aftRmNum" column="AFT_RM_NUM" />
		<result property="iname" column="INAME" />
		<result property="type" column="TYPE" />
		<result property="amount" column="AMOUNT" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Conn" id="resultSetConn">
		<id property="cnCode" column="CN_CODE" />
		<result property="cnName" column="CN_NAME" />
		<result property="ownerName" column="OWNER_NAME" />
		<result property="cnPhone" column="CN_PHONE" />
		<result property="cnEmail" column="CN_EMAIL" />
		<result property="cnItem" column="CN_ITEM" />
		<result property="cnStatus" column="CN_STATUS" />
		<result property="cnAdd" column="CN_ADD" />
		<result property="regDate" column="REG_DATE" />
		<result property="bankName" column="BANK_NAME" />
		<result property="account" column="ACCOUNT" />
		<result property="accName" column="ACC_NAME" />
		<result property="accMemo" column="ACC_MEMO" />
		<result property="cnManager" column="CN_MANAGER" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngRooms.model.voEtc.Room" id="resultRoom">
		<id property="rmNo" column="RM_NO" />
		<result property="rmNum" column="RM_NUM" />
		<result property="stdPer" column="STD_PER" />
		<result property="rmOption" column="RM_OPTION" />
		<result property="floor" column="FLOOR" />
		<result property="rtNo" column="RT_NO" />
		<result property="regDate" column="REG_DATE" />
		<result property="rmStatus" column="RM_STATUS" />
	</resultMap>
	
	
	<!-- 리스트카운트 -->
	<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM
		(SELECT I.INAME, T.TYPE, SUM(I.AMOUNT) AS CNT
		FROM (SELECT *
      FROM ITEM
      WHERE ITEM_STATUS = 'N') I
		JOIN ITEM_TYPE T USING(TYPE_NO)
		GROUP BY I.INAME, T.TYPE
		ORDER BY INAME)
	</select>
	
	<select id="selectStockList" resultMap="resultSetStock">
		SELECT I.INAME, T.TYPE, SUM(I.AMOUNT) AS CNT
		FROM (SELECT *
     	 FROM ITEM
     	 WHERE ITEM_STATUS = 'N') I
		JOIN ITEM_TYPE T USING(TYPE_NO)
		GROUP BY I.INAME, T.TYPE
		ORDER BY INAME
	</select>
	
	<insert id="insertStock">
		INSERT INTO ITEM 
		VALUES(SEQ_INO.NEXTVAL,#{iName},#{up},#{vat},#{vos},#{mfg},DEFAULT,DEFAULT,DEFAULT,DEFAULT,#{typeNo},#{cnCode},NULL,NULL,NULL,NULL,#{unit})
		<selectKey keyProperty="ino" resultType="_int" order="AFTER">SELECT SEQ_INO.CURRVAL FROM DUAL</selectKey>
	</insert>
	
	<insert id="insertStockHis">
		INSERT INTO ITEM_HIS
		VALUES(#{ino},TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'),'ALL','NONE','ALL','INSERT')
	</insert>
	
	<!-- 물품 디테일 -->
	
	<select id="selectStockDetailList" resultMap="resultSetStock">
		SELECT T.LCATEGORY,T.MCATEGORY,T.SCATEGORY,I.INO,I.INAME,I.UNIT,I.VOS,I.VAT,I.UP,I.MFG,C.CN_NAME,S.STRG_NAME,A.AREA_NAME,R.RM_NUM,I.RM_NO,T.TYPE,I.AMOUNT,C.CN_CODE,S.STRG_NO,A.AREA_NO
		FROM ITEM I
		JOIN ITEM_TYPE T ON (I.TYPE_NO = T.TYPE_NO)
		JOIN CONN C ON (C.CN_CODE = I.CN_CODE)
        LEFT JOIN ROOM R ON (I.RM_NO=R.RM_NO)  
		LEFT JOIN STRG_AREA A ON (A.AREA_NO = I.AREA_NO)
		LEFT JOIN STRG S ON (A.STRG_NO = S.STRG_NO)
        WHERE I.INAME =#{iName}
        AND I.ITEM_STATUS = 'N'
	</select>
	

	

	
	<!-- 수리 현황 리스트 조회-->
	<select id="getRepairListCount" resultType="_int">
		SELECT COUNT(*) FROM(
		SELECT RPT_NO,RPT_TITLE,RPT_STATUS FROM REP_REQ R
		JOIN REPORT USING(RPT_NO)
        ORDER BY RPT_NO ASC)
	</select>
	
	<select id="getRepairList" resultMap="resultSetRepair">
		SELECT RPT_NO,RPT_TITLE,RPT_STATUS FROM REP_REQ R
		JOIN REPORT USING(RPT_NO)
        ORDER BY RPT_NO ASC
	</select>	
	
	<!-- 분류 리스트 -->
	<select id="selectCategoryList" resultMap="resultSetType">
		<choose>
			<when test="lcategory =='대분류'">
				SELECT LCATEGORY
				FROM ITEM_TYPE
				GROUP BY LCATEGORY
			</when>
			<when test="lcategory !='대분류'">
				SELECT MCATEGORY
				FROM ITEM_TYPE
				WHERE LCATEGORY = #{lCategory}
				GROUP BY MCATEGORY
			</when>
		</choose>
	</select>
	
	<insert id="insertCategory" parameterType="ItemType">
		INSERT INTO ITEM_TYPE(TYPE_NO,TYPE,LCATEGORY,MCATEGORY,SCATEGORY)
		VALUES(SEQ_TYPE_NO.NEXTVAL,#{type},#{lCategory},#{mCategory},#{sCategory})
	</insert>
	
	<select id="selectScategory" resultMap="resultSetType">
		SELECT SCATEGORY,TYPE_NO
		FROM ITEM_TYPE
		ORDER BY SCATEGORY ASC
	</select>
	
	<select id="selectCnName" resultMap="resultSetConn">
		SELECT CN_NAME,CN_CODE
		FROM CONN
		JOIN ITEM USING(CN_CODE)
		JOIN ITEM_TYPE USING(TYPE_NO)
		WHERE TYPE_NO =#{typeNo}
		GROUP BY CN_NAME,CN_CODE
        ORDER BY CN_NAME ASC
	</select>
	
	<update id="deleteStock">
		UPDATE ITEM
		SET ITEM_STATUS = 'Y'
		WHERE INO = #{check}
	</update>
	
	<select id="selectRmNoList" resultMap="resultRoom">
	SELECT RM_NO,RM_NUM FROM ROOM
	</select>
	
	<update id="updateStockOk">
		<choose>
		<when test="rmNo == 0">
		UPDATE ITEM SET 
		AMOUNT=#{amount},
		AREA_NO=#{areaNo},
		SITE_CODE=#{strgName},
		RM_NO=NULL
		WHERE INO = #{ino}
		</when>		
		<when test="rmNo != 0">
		UPDATE ITEM SET 
		AMOUNT=#{amount},
		AREA_NO=#{areaNo},
		SITE_CODE=#{strgName},
		RM_NO=#{rmNo}
		WHERE INO = #{ino}
		</when>
		</choose>
	</update>
	
	<insert id="updateStockHis" parameterType="His">
		INSERT INTO ITEM_HIS VALUES(#{ino},TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'),#{modCol},#{befData},#{aftData},'UPDATE')
	</insert>
	
	<insert id="deleteStockHis" parameterType="His">
		INSERT INTO ITEM_HIS VALUES(#{ino},TO_CHAR(SYSDATE + 9 / (24) + 135 / (24 * 60 * 60), 'YYYY-MM-DD HH24:mi:ss'),'ALL','ALL',' ','DELETE')
	</insert>
	
	<!-- <select id="">
		SELECT OH.ORDER_NO, OH.RCV_REQ_DATE, TOT_PRICE, RCV_STATUS, C.CN_NAME, I.INAME
		FROM ORDER_HIS OH
		JOIN REPORT R ON(OH.RPT_NO = R.RPT_NO)
		JOIN ORDER_REQ ORDERR ON(R.RPT_NO = ORDERR.RPT_NO)
		JOIN CONN C ON(ORDERR.CN_CODE = C.CN_CODE)
		JOIN ITEM I ON (ORDERR.INO = I.INO)
		JOIN ITEM_TYPE IT ON(I.TYPE_NO = IT.TYPE_NO)
		ORDER BY ORDER_NO DESC;
	</select> -->
	
	<select id="getStockHisCount" resultType="_int">
	  SELECT COUNT(*) FROM (
	  SELECT T.TYPE,H.INO,MOD_DATE,MOD_COL,BEF_DATA,AFT_DATA,MOD_RSN,J8.AMOUNT AS AMOUNT,J1.AREA_NAME AS BEF_NAME, J2.AREA_NAME AS AFT_NAME,J3.STRG_NAME AS BEF_STRG_NAME,J4.STRG_NAME AS AFT_STRG_NAME,J5.RM_NUM AS BEF_RM_NUM,J6.RM_NUM AS AFT_RM_NUM,J7.INAME
      FROM ITEM_HIS H
      JOIN ITEM I ON (I.INO=H.INO)
      LEFT JOIN ITEM_TYPE T ON (I.TYPE_NO=T.TYPE_NO)
      LEFT JOIN (SELECT AREA_NAME,TO_CHAR(AREA_NO) AS "AREA_NO"  FROM STRG_AREA) J1 ON (H.BEF_DATA = J1.AREA_NO)
      LEFT JOIN (SELECT AREA_NAME,TO_CHAR(AREA_NO) AS "AREA_NO" FROM STRG_AREA) J2 ON (H.AFT_DATA = J2.AREA_NO)
      LEFT JOIN (SELECT STRG_NO,STRG_NAME FROM STRG) J3 ON (H.BEF_DATA = J3.STRG_NO)
      LEFT JOIN (SELECT STRG_NO,STRG_NAME FROM STRG) J4 ON (H.AFT_DATA = J4.STRG_NO)
      LEFT JOIN (SELECT TO_CHAR(RM_NO) AS "RM_NO" , RM_NUM AS RM_NUM FROM ROOM) J5 ON (H.BEF_DATA = J5.RM_NO)
      LEFT JOIN (SELECT TO_CHAR(RM_NO) AS "RM_NO" , RM_NUM AS RM_NUM FROM ROOM) J6 ON (H.AFT_DATA = J6.RM_NO)
      LEFT JOIN (SELECT TO_CHAR(INO) AS INO,INAME FROM ITEM) J7 ON(H.INO=J7.INO)
      LEFT JOIN (SELECT TO_CHAR(AMOUNT) AS "AMOUNT" FROM ITEM) J8 ON(H.AFT_DATA=J8.AMOUNT)
      ORDER BY MOD_DATE DESC)
	</select>
	
	
	<select id="getStockHisList" resultMap="resultSetHis">
	  SELECT T.TYPE,H.INO,MOD_DATE,MOD_COL,BEF_DATA,AFT_DATA,MOD_RSN,J8.AMOUNT AS AMOUNT,J1.AREA_NAME AS BEF_NAME, J2.AREA_NAME AS AFT_NAME,J3.STRG_NAME AS BEF_STRG_NAME,J4.STRG_NAME AS AFT_STRG_NAME,J5.RM_NUM AS BEF_RM_NUM,J6.RM_NUM AS AFT_RM_NUM,J7.INAME
      FROM ITEM_HIS H
      JOIN ITEM I ON (I.INO=H.INO)
      LEFT JOIN ITEM_TYPE T ON (I.TYPE_NO=T.TYPE_NO)
      LEFT JOIN (SELECT AREA_NAME,TO_CHAR(AREA_NO) AS "AREA_NO"  FROM STRG_AREA) J1 ON (H.BEF_DATA = J1.AREA_NO)
      LEFT JOIN (SELECT AREA_NAME,TO_CHAR(AREA_NO) AS "AREA_NO" FROM STRG_AREA) J2 ON (H.AFT_DATA = J2.AREA_NO)
      LEFT JOIN (SELECT STRG_NO,STRG_NAME FROM STRG) J3 ON (H.BEF_DATA = J3.STRG_NO)
      LEFT JOIN (SELECT STRG_NO,STRG_NAME FROM STRG) J4 ON (H.AFT_DATA = J4.STRG_NO)
      LEFT JOIN (SELECT TO_CHAR(RM_NO) AS "RM_NO" , RM_NUM AS RM_NUM FROM ROOM) J5 ON (H.BEF_DATA = J5.RM_NO)
      LEFT JOIN (SELECT TO_CHAR(RM_NO) AS "RM_NO" , RM_NUM AS RM_NUM FROM ROOM) J6 ON (H.AFT_DATA = J6.RM_NO)
      LEFT JOIN (SELECT TO_CHAR(INO) AS INO,INAME FROM ITEM) J7 ON(H.INO=J7.INO)
      LEFT JOIN (SELECT TO_CHAR(AMOUNT) AS "AMOUNT" FROM ITEM) J8 ON(H.AFT_DATA=J8.AMOUNT)
      ORDER BY MOD_DATE DESC
	</select>
	
</mapper>

 