<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Strg">
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.Strg" id="resultSetStrg">
		<id property="strgNo" column="STRG_NO" />
		<result property="strgName" column="STRG_NAME" />
		<result property="strgStatus" column="STRG_STATUS" />
		<result property="strgSite" column="STRG_SITE" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.WarehouseDetail" id="resultSetStrgArea">
		<id property="ino" column="INO" />
		<result property="amount" column="AMOUNT" />
		<result property="areaName" column="AREA_NAME" />
		<result property="iName" column="INAME" />
	</resultMap>
	
	<resultMap type="com.kh.hotels.mngStock.model.vo.StrgArea" id="strgArea">
		<id property="strgNo" column="STRG_NO" />
		<result property="areaNo" column="AREA_NO" />
		<result property="areaName" column="AREA_NAME" />
	</resultMap>
	
	
	<insert id="insertWarehouse" parameterType="Strg">
		INSERT INTO STRG VALUES(#{strgNo},#{strgName},#{strgStatus},#{strgSite})
	</insert>
	
	
	<select id="selectList" resultMap="resultSetStrg">
		SELECT * FROM STRG
		ORDER BY STRG_STATUS DESC, STRG_NAME ASC
	</select>

	<select id="searchList" resultMap="resultSetStrg">
		SELECT * FROM STRG
		WHERE 1=1
		<choose>
		
		<when test="code != null">
			AND STRG_NO LIKE '%' || #{code} || '%'
		</when>
		<when test="name != null">
			AND STRG_NAME LIKE '%' || #{name} || '%'
		</when>
		<when test="status != null">
			AND STRG_STATUS LIKE '%' || #{status} || '%'
		</when>
		
		</choose>
		ORDER BY STRG_STATUS DESC, STRG_NAME ASC
		
	</select>
	
	
	<select id="detailList" resultMap="resultSetStrgArea">
		SELECT I.INAME,I.INO,I.UNIT AS AMOUNT,A.AREA_NAME
		FROM STRG_AREA A
		JOIN STRG S ON (S.STRG_NO=A.STRG_NO)
		JOIN ITEM I ON(I.AREA_NO = A.AREA_NO)
		JOIN ITEM_TYPE T ON (I.TYPE_NO=T.TYPE_NO)
		WHERE S.STRG_NO=#{strgNo}
		ORDER BY I.INAME ASC
	</select>
	
	<update id="updateWarehouse" parameterType="Strg">
		UPDATE STRG
		SET STRG_NAME=#{strgName},STRG_STATUS=#{strgStatus},STRG_SITE=#{strgSite}
		WHERE STRG_NO=#{strgNo}
	</update>
	
	<select id="selectStrgAreaList" resultMap="strgArea">
	SELECT * FROM STRG_AREA
    WHERE STRG_NO=#{strgNo}
	</select>
</mapper>

 





























