<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
   
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.hotels.mngMember.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.hotels.mngSetting.model.vo.SettingRoomType" alias="SettingRoomType"/>
		<typeAlias type="com.kh.hotels.mngSetting.model.vo.SearchStaff" alias="SearchStaff"/>
		<typeAlias type="com.kh.hotels.mngSetting.model.vo.SearchService" alias="SearchService"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.Strg" alias="Strg"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.StrgArea" alias="StrgArea"/>
		<typeAlias type="com.kh.hotels.mngReserv.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Info" alias="Info"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Rule" alias="Rule"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Law" alias="Law"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Basic" alias="Basic"/>
		<typeAlias type="com.kh.hotels.common.model.vo.NoShow" alias="NoShow"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Cal" alias="Cal"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Rfd" alias="Rfd"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Svc" alias="Svc"/>
		<typeAlias type="com.kh.hotels.common.model.vo.OffSeason" alias="OffSeason"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Season" alias="Season"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Attach" alias="Attach"/>
		<typeAlias type="com.kh.hotels.mngStay.model.vo.Stay" alias="Stay"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.Que" alias="Que"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.BlackList" alias="BlackList"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.RoomInfo" alias="RoomInfo"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.voEtc.RoomType" alias="RoomType"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.BrokenRoom" alias="BrokenRoom"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.voEtc.Room" alias="Room"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.voEtc.BrokenRoom" alias="BrokenRoom2"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.voEtc.RoomPrc" alias="RoomPrc"/>
		<typeAlias type="com.kh.hotels.mngReserv.model.vo.ReservationCheck" alias="ReservationCheck"/>
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.Stock" alias="Stock"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.His" alias="His"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.Conn" alias="Conn"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.StockDetail" alias="StockDetail"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.WarehouseDetail" alias="WarehouseDetail"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.Que" alias="Que"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.QueFilter" alias="QueFilter"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.QueModal" alias="QueModal"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.QueSearchCondition" alias="QueSearchCondition"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.Ans" alias="Ans"/>
		<typeAlias type="com.kh.hotels.mngClient.model.vo.ClientSearchCondition" alias="ClientSearchCondition"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.RoomList" alias="RoomList" />
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.Prc" alias="RoomPrice" />
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.Prc" alias="Prc" />
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.PurVos" alias="PurVos"/>
		<typeAlias type="com.kh.hotels.mngRooms.model.vo.ServiceList" alias="ServiceList" />
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.PurRequest" alias="PurRequest"/>
		<typeAlias type="com.kh.hotels.mngStock.model.vo.ItemType" alias="ItemType" />
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.PageInfo" alias="PageInfo"/>
		<typeAlias type="com.kh.hotels.mngAnalys.model.vo.SalesDetail" alias="SalesDetail"/>
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.RepRequest" alias="RepRequest"/>
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.PartiReport" alias="PartiReport"/>
		<typeAlias type="com.kh.hotels.common.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.hotels.mngApproval.model.vo.OrderRequest" alias="OrderRequest"/>
		<typeAlias type="com.kh.hotels.mngAnalys.model.vo.DailySpendStock" alias="DailySpendStock"/>
		<typeAlias type="com.kh.hotels.mngAnalys.model.vo.SpendDetail" alias="SpendDetail"/>
		<typeAlias alias="OrderHistory" type="com.kh.hotels.mngApproval.model.vo.OrderHistory"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/common-mapper.xml"/>
		<mapper resource="mappers/mngRooms-mapper.xml" />
		<mapper resource="mappers/strg-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
        <mapper resource="mappers/hotel-mapper.xml"/>
        <mapper resource="mappers/stock-mapper.xml"/>
        <mapper resource="mappers/client-mapper.xml"/>
        <mapper resource="mappers/account-mapper.xml"/>
        <mapper resource="mappers/analys-mapper.xml"/>
        <mapper resource="mappers/setting-mapper.xml"/>
        <mapper resource="mappers/mngReserv-mapper.xml"/>
	</mappers>
		
	
</configuration>