<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
   
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.kh.hotels.mngMember.model.vo.Member"/>
		<typeAlias alias="SettingRoomType" type="com.kh.hotels.mngSetting.model.vo.SettingRoomType"/>
		<typeAlias alias="SearchStaff" type="com.kh.hotels.mngSetting.model.vo.SearchStaff"/>
		<typeAlias alias="SearchService" type="com.kh.hotels.mngSetting.model.vo.SearchService"/>
		<typeAlias alias="Strg" type="com.kh.hotels.mngStock.model.vo.Strg"/>
		<typeAlias alias="StrgArea" type="com.kh.hotels.mngStock.model.vo.StrgArea"/>
		<typeAlias alias="Reservation" type="com.kh.hotels.mngReserv.model.vo.Reservation"/>
		<typeAlias alias="Info" type="com.kh.hotels.common.model.vo.Info"/>
		<typeAlias alias="Rule" type="com.kh.hotels.common.model.vo.Rule"/>
		<typeAlias alias="Law" type="com.kh.hotels.common.model.vo.Law"/>
		<typeAlias alias="Basic" type="com.kh.hotels.common.model.vo.Basic"/>
		<typeAlias alias="NoShow" type="com.kh.hotels.common.model.vo.NoShow"/>
		<typeAlias alias="Cal" type="com.kh.hotels.common.model.vo.Cal"/>
		<typeAlias alias="Rfd" type="com.kh.hotels.common.model.vo.Rfd"/>
		<typeAlias alias="Svc" type="com.kh.hotels.common.model.vo.Svc"/>
		<typeAlias alias="OffSeason" type="com.kh.hotels.common.model.vo.OffSeason"/>
		<typeAlias alias="Season" type="com.kh.hotels.common.model.vo.Season"/>
		<typeAlias alias="Attach" type="com.kh.hotels.common.model.vo.Attach"/>
		<typeAlias alias="Stay" type="com.kh.hotels.mngStay.model.vo.Stay"/>
		<typeAlias alias="Que" type="com.kh.hotels.mngClient.model.vo.Que"/>
		<typeAlias alias="BlackList" type="com.kh.hotels.mngClient.model.vo.BlackList"/>
		<typeAlias alias="RoomInfo" type="com.kh.hotels.mngRooms.model.vo.RoomInfo"/>
		<typeAlias alias="RoomType" type="com.kh.hotels.mngRooms.model.voEtc.RoomType"/>
		<typeAlias alias="RsvMemo" type="com.kh.hotels.mngRooms.model.voEtc.RsvMemo"/>
		<typeAlias alias="BrokenRoom" type="com.kh.hotels.mngRooms.model.vo.BrokenRoom"/>
		<typeAlias alias="RequestStayRsv" type="com.kh.hotels.mngRooms.model.vo.RequestStayRsv"/>
		<typeAlias alias="Room" type="com.kh.hotels.mngRooms.model.voEtc.Room"/>
		<typeAlias alias="BrokenRoom2" type="com.kh.hotels.mngRooms.model.voEtc.BrokenRoom"/>
		<typeAlias alias="RoomPrc" type="com.kh.hotels.mngRooms.model.voEtc.RoomPrc"/>
		<typeAlias alias="ReservationCheck" type="com.kh.hotels.mngReserv.model.vo.ReservationCheck"/>
		<typeAlias alias="Report" type="com.kh.hotels.mngApproval.model.vo.Report"/>
		<typeAlias alias="Stock" type="com.kh.hotels.mngStock.model.vo.Stock"/>
		<typeAlias alias="His" type="com.kh.hotels.mngStock.model.vo.His"/>
		<typeAlias alias="Conn" type="com.kh.hotels.mngStock.model.vo.Conn"/>
		<typeAlias alias="StockDetail" type="com.kh.hotels.mngStock.model.vo.StockDetail"/>
		<typeAlias alias="WarehouseDetail" type="com.kh.hotels.mngStock.model.vo.WarehouseDetail"/>
		<typeAlias alias="Que" type="com.kh.hotels.mngClient.model.vo.Que"/>
		<typeAlias alias="QueFilter" type="com.kh.hotels.mngClient.model.vo.QueFilter"/>
		<typeAlias alias="QueModal" type="com.kh.hotels.mngClient.model.vo.QueModal"/>
		<typeAlias alias="QueSearchCondition" type="com.kh.hotels.mngClient.model.vo.QueSearchCondition"/>
		<typeAlias alias="Ans" type="com.kh.hotels.mngClient.model.vo.Ans"/>
		<typeAlias alias="ClientSearchCondition" type="com.kh.hotels.mngClient.model.vo.ClientSearchCondition"/>
		<typeAlias alias="RoomList" type="com.kh.hotels.mngRooms.model.vo.RoomList"/>
		<typeAlias alias="RoomPrice" type="com.kh.hotels.mngRooms.model.vo.Prc"/>
		<typeAlias alias="Prc" type="com.kh.hotels.mngRooms.model.vo.Prc"/>
		<typeAlias alias="PurVos" type="com.kh.hotels.mngApproval.model.vo.PurVos"/>
		<typeAlias alias="ServiceList" type="com.kh.hotels.mngRooms.model.vo.ServiceList"/>
		<typeAlias alias="PurRequest" type="com.kh.hotels.mngApproval.model.vo.PurRequest"/>
		<typeAlias alias="ItemType" type="com.kh.hotels.mngStock.model.vo.ItemType"/>
		<typeAlias alias="PageInfo" type="com.kh.hotels.mngApproval.model.vo.PageInfo"/>
		<typeAlias alias="SalesDetail" type="com.kh.hotels.mngAnalys.model.vo.SalesDetail"/>
		<typeAlias alias="RepRequest" type="com.kh.hotels.mngApproval.model.vo.RepRequest"/>
		<typeAlias alias="PartiReport" type="com.kh.hotels.mngApproval.model.vo.PartiReport"/>
		<typeAlias alias="Payment" type="com.kh.hotels.common.model.vo.Payment"/>
		<typeAlias alias="OrderRequest" type="com.kh.hotels.mngApproval.model.vo.OrderRequest"/>
		<typeAlias alias="DailySpendStock" type="com.kh.hotels.mngAnalys.model.vo.DailySpendStock"/>
		<typeAlias alias="SpendDetail" type="com.kh.hotels.mngAnalys.model.vo.SpendDetail"/>
		<typeAlias alias="OrderHistory" type="com.kh.hotels.mngApproval.model.vo.OrderHistory"/>
		<typeAlias alias="RepHistory" type="com.kh.hotels.mngStock.model.vo.RepHistory"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/common-mapper.xml"/>
		<mapper resource="mappers/mngRooms-mapper.xml" />
		<mapper resource="mappers/strg-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
        <mapper resource="mappers/hotel-mapper.xml"/>
        <mapper resource="mappers/stock-mapper.xml"/>
        <mapper resource="mappers/client-mapper.xml"/>
        <mapper resource="mappers/account-mapper.xml"/>
        <mapper resource="mappers/analys-mapper.xml"/>
        <mapper resource="mappers/setting-mapper.xml"/>
        <mapper resource="mappers/mngReserv-mapper.xml"/>
	</mappers>
		
	
</configuration>